extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(name="oldPassword" placeholder="Old Password", type="password")
        input(name="newPassword" placeholder="New Password", type="password")
        input(name="newPasswordConfirm" placeholder="Confirm New Password", type="password")
        input(value="Update", type="submit")